# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [125]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [126]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [136]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [132]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [133]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [134]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [135]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [156]:
c = chipo.groupby('item_name')
c = c.sum().sort_values(['quantity'], ascending = False)

4972

### Step 10. How many items were ordered?

In [157]:
c['quantity'].sum()

4972

### Step 11. What was the most ordered item in the choice_description column?

In [166]:
c = chipo.groupby(['choice_description']).sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

In [172]:
dollarizer = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(dollarizer)

### Step 14. How much was the revenue for the period in the dataset?

In [177]:
revenue = chipo.item_price.sum()
print(str(np.round(revenue,2)))

34500.16

### Step 15. How many orders were made in the period?

### Step 16. What is the average amount per order?

### Step 17. How many different items are sold?